<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6">
            <a class="nav-link footer_content-btn upper" href="{% link devis.html %}">réservation en ligne</a>
          </div>
            <div class="col-lg-3 my-4 col-md-6">
                <div class="footer_content f-left">
                  <h3 class="footer_content-title"> Suivez-nous :</h3>
                  <div class="footer_content-social">
                    <a href="" class="footer_content-social--icon"><i class="fab fa-tiktok"></i></a>
                    <a href="" class="footer_content-social--icon"><i class="fab fa-instagram"></i></a>
                    <a href="" class="footer_content-social--icon"><i class="fab fa-facebook-f"></i></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 my-4 col-md-6">
                <div class="footer_content">
                  <h3 class="footer_content-title upper">informations pratiques</h3>
                    <ul class="footer_content-ul">
                        
                        <li class="footer_content-li mt-3">
                            <p class="footer_content-li--link"><i class="fas fa-map-marker-alt blue"></i> {{site.data.company.address}}</p>
                        </li>
                        <li class="footer_content-li mt-3">
                            <a href="tel:{{site.data.company.phone}}" class="footer_content-li--link"><i class="fas fa-phone-alt blue"></i> <strong>{{site.data.company.phone}}</strong></a>
                        </li>
                        <li class="footer_content-li mt-3">
                            <a href="mailto:{{site.data.company.email}}" class="footer_content-li--link"><i class="fas fa-envelope blue"></i> {{site.data.company.email}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 my-4 col-md-6">
              <div class="footer_logo">
                <img src="../assets/img/footer-logo.png" alt="" class="footer_logo-img">
              </div>

            </div>
        </div>
    </div>
</footer>







<div class="footer_bottom">
  <span class="py-3">
  </span>
</div>

<div class="footer_bottom2">
  <span>
    <a href="https://bhinternet.fr/" target="_blank" class="footer_bottom-p">
      BH INTERNET - CRÉATION DE SITE | &nbsp;<span id="current-year"></span>
    </a>
  </span>
</div>


<script>
  document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
<script src="../assets/js/index.js"></script>
<script src="./assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>